<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
	</startup>
	<connectionStrings>
		<add name="DbConnectionString" connectionString="Data Source=ASTACIO\SQLEXPRESS;Initial Catalog=OCCDB;Integrated Security=True;Encrypt=False;TrustServerCertificate=True" providerName="System.Data.SqlClient"/>
	</connectionStrings>
</configuration>
